//Colores

$bg-light:  rgb(248, 248, 248);
$bg-dark:  rgb(87, 87, 87);
$shadow-light: rgb(184, 184, 184);
$shadow-dark: rgb(75, 75, 75);
$primary-color: rgb(206, 56, 61);
$secondary-color: rgb(120, 30, 145); 