body {
  background-image: url("../../../../public/src/img/backgroundApp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#root {
  @include media-up(md) {
    height: 100vh;
  }
}
