.homePage {
  &__container {
    margin-top: 10rem;

    display: flex;
    flex-direction: column;

    section {
      width: 80vw;
      background-color: $bg-light;
      border-radius: 0 2rem 2rem 0;
      overflow: hidden;

      @include media-up(md) {
        width: 30vw;
        border-radius: 2rem;
        margin: auto;
      }

      h2 {
        color: white;
        font-size: 3rem;
        font-weight: 800;
        padding: 0.5rem;
        padding-left: 2rem;
        background-color: $secondary-color;
        width: 100%;
      }
      p {
        font-size: 2rem;
        color: $secondary-color;
        margin: 2rem;
        hyphens: none;
      }
    }
  }
  &__img__container {
    position: fixed;
    bottom: 0;
    z-index: -1;

    @include media-up(md) {
      width: 45rem;
      left: calc(50vw - 45rem / 2);
      margin: 4rem auto 0 auto;
    }
  }
}
