.HomeScreen {
  z-index: 100;
  height: 100vh;

  &__top {
    display: flex;
    flex-direction: column;

    &__red {
      background-color: red;
      height: 48vh;
    }

    &--animate {
      position: relative;
      animation: animTop 1s ease-in-out 0.1s forwards;
    }
  }

  &__bot {
    display: flex;
    flex-direction: column;

    &__black {
      background-color: black;
      height: 4vh;
    }

    &__white {
      background-color: white;
      height: 48vh;
    }

    &--animate {
      position: relative;
      animation: animBot 1s ease-in-out 0.1s forwards;
    }
  }
  &__circle {
    position: absolute;
    left: calc(50vw - 10rem);
    top: calc(50% + 10rem);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: white;
    border: 1.5rem solid black;
    z-index: 30;

    &__inside {
      width: 14rem;
      height: 14rem;
      position: relative;
      top: calc(50% - 7rem);
      left: calc(50% - 7rem);
      border-radius: 50%;

      animation: pokePulse 2s ease-in-out 0s infinite;
    }
  }
}
