.typeList{
    &__container{

    }
    &__title{

    }
    &__list{
        display: none;
        &--active{
            display: flex;
            flex-flow: row wrap;
            
        }

    }
}